<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.telenor.possumlib">
    <!-- Necessary for gait and position. Possibly only coarse for position, but fine would be needed for gait -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- dangerous, needs confirmation on marshmallow -->
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" /> <!-- Needed for lollipop and over -->

    <!-- Necessary for network information & device id -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />--> <!-- dangerous, needs confirmation on marshmallow -->

    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!-- Necessary for retina, iris and face recognition -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- dangerous, needs confirmation on marshmallow -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <!-- Necessary for bluetooth paired devices or other devices with location -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- required for connecting...which we don't need -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- Required for scan because of BLE -->

    <!-- Necessary for voice recognition -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- dangerous, needs confirmation on marshmallow -->

    <!-- Necessary for all neural network transmissions and data sending -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="face" />
        <service
            android:name=".services.CollectionService"
            android:process=":possum"
            android:exported="false"/>

        <service
            android:name=".services.DataUploadService"
            android:exported="false"
            android:process=":possum" />

        <service
            android:name=".services.VerificationService"
            android:exported="false"
            android:process=":possumVerification" />

        <service
            android:name=".services.SendUserIdService"
            android:exported="false"
            android:process=":possum" />
        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true"
            android:process=":possum" />
    </application>
</manifest>